.menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #272727; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 75px; /* Place content 60px from the top */
    transition: all .4s; /* 0.5 second transition effect to slide in the sidenav */
}

.menu a {
    font-family: arial;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.menu a:hover, .offcanvas a:focus{ color: white; }

  .button-menu{ cursor:pointer; font-size:40px; color:white; box-shadow:0px 2px 5px black; background:#272727; border-radius:5px; padding:0px 10px; position:fixed; margin: 20px 10px;}
.button-menu:hover{ background:#0260B2; }

.menu .closemenu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}
